.UserUiComponent-form-container {
	display: flex;
	align-items: center;
	gap: 14px;
	@media screen and (max-width: 1440px) {
		gap: 10px;
	}

	@media screen and (max-width: 390px) {
		display: none;
	}
}

.UserUiComponent-img {
	width: 34px;
	height: 34px;
	border-radius: 50% 50%;
	@media screen and (max-width: 1440px) {
		width: 24px;
		height: 24px;
	}

	@media screen and (max-width: 390px) {
		width: 24px;
		height: 24px;
	}
}
.UserUiComponent-userName {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	font-family: 'Lexend', sans-serif;
	@media screen and (max-width: 1440px) {
		font-size: 16px;
	}

	@media screen and (max-width: 390px) {
		font-size: 12px;
	}
}
.UserUiComponent {
	display: flex;
	align-items: center;
	gap: 6px;
	@media screen and (max-width: 1440px) {
		gap: 6px;
	}

	@media screen and (max-width: 390px) {
		gap: 6px;
	}
}
.UserUiComponent-form-select-option {
	border: 1px solid var(--border-color);
}
