.testimonial-card {
	width: 404px;
	height: 322px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	opacity: 0; /* Начальное состояние для анимации */
	transform: translateY(20px); /* Начальное смещение для анимации */
	transition: opacity 0.8s ease, transform 0.8s ease;

	&.visible {
		opacity: 1; /* Конечное состояние для анимации */
		transform: translateY(0); /* Конечное смещение для анимации */
	}
	@media screen and (max-width: 1440px) {
		width: 326px;
		height: 292px;
		gap: 40px;
	}
	@media screen and (max-width: 390px) {
		width: 358px;
		height: 272px;
		gap: 30px;
		border: 1px solid var(--border-color);
	}
	&__text {
		font-family: 'Lexend', sans-serif;
		font-size: 18px;
		line-height: 150%;
		font-weight: 400;
		text-align: center;
		@media screen and (max-width: 1440px) {
			font-size: 16px;
		}
		@media screen and (max-width: 390px) {
			font-size: 14px;
		}
	}
	&__user {
		font-family: 'Lexend', sans-serif;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		font-weight: 500;
		@media screen and (max-width: 1440px) {
			font-size: 16px;
		}
		@media screen and (max-width: 390px) {
			font-size: 14px;
		}
	}

	&__comas-block {
		display: flex;
		align-items: center;
		gap: 20px;

		&::after,
		&::before {
			content: '';
			background-color: var(--border-color);
			width: 152px;
			height: 1px;

			@media screen and (max-width: 1440px) {
				width: 124px;
			}
			@media screen and (max-width: 390px) {
				width: 120px;
			}
		}
	}
	&__comas {
		width: 60px;
		height: 60px;
		@media screen and (max-width: 1440px) {
			width: 44px;
			height: 44px;
		}
		@media screen and (max-width: 390px) {
			width: 44px;
			height: 44px;
		}
	}
}
