.asked-questions-section {
	padding: 75px 0;

	&__title-wrapper {
		@media screen and (max-width: 390px) {
			text-align: center;
		}
	}
	&__logo-text {
		color: var(--background-color-2);
		font-family: 'Lexend', sans-serif;
		font-size: 48px;
		font-weight: 500;
		@media screen and (max-width: 1440px) {
			font-size: 38px;
		}
		@media screen and (max-width: 390px) {
			font-size: 28px;
		}
	}
	&__span-text {
		color: var(--text-color);
		font-family: 'Lexend', sans-serif;
		font-size: 48px;
		font-weight: 500;
		@media screen and (max-width: 1440px) {
			font-size: 38px;
		}
		@media screen and (max-width: 390px) {
			font-size: 28px;
		}
	}
	&__title-text {
		color: var(--text-color-4);

		font-family: 'Lexend', sans-serif;
		font-size: 18px;
		font-weight: 300;
		@media screen and (max-width: 1440px) {
			font-size: 16px;
		}
		@media screen and (max-width: 390px) {
			font-size: 14px;
		}
	}
	&__blocks {
		width: 782px;
		display: flex;
		padding: 50px;
		flex-direction: column;
		gap: 30px;
		border-radius: 14px;
		border: 1px solid var(--border-color);
		@media screen and (max-width: 1440px) {
			width: 630px;
			gap: 24px;
			padding: 40px;
		}
		@media screen and (max-width: 390px) {
			width: 358px;
			gap: 20px;
			padding: 30px;
		}
		hr {
			width: 100%;
			height: 1px;
			background: #262626;
			border: none;
			margin: 0;
		}
	}
	&__blocks-wrapper {
		padding-top: 80px;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		@media screen and (max-width: 1440px) {
			flex-wrap: wrap;
			gap: 20px;
		}
		@media screen and (max-width: 390px) {
			flex-direction: column;
		}
	}
	&__blocks-title {
		color: var(--text-color);
		font-family: 'Lexend', sans-serif;
		font-size: 20px;
		font-weight: 500;
		@media screen and (max-width: 1440px) {
			font-size: 18px;
		}
		@media screen and (max-width: 390px) {
			font-size: 18px;
		}
	}

	&__blocks-text {
		color: var(--text-color-4);
		font-family: 'Lexend', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 150%;
		@media screen and (max-width: 1440px) {
			font-size: 16px;
		}
		@media screen and (max-width: 390px) {
			font-size: 14px;
		}
	}
}
