.SecurityPageHeroSection {
	&__title-wrapper {
		display: flex;
		padding: 50px;
		align-items: flex-start;
		border-radius: 20px;
		background: var(--text-color-2);
		height: 816px;
		position: relative;
	}
	&__title-block {
		display: flex;
		width: 790px;
		padding: 80px;
		flex-direction: column;
		align-items: flex-start;
		gap: 22px;
		border-radius: 20px 0px 80px 20px;
		background: var(--background-color);
		z-index: 1;
	}
	&__title {
		color: var(--text-color);
		font-family: 'Lexend', sans-serif;
		font-size: 58px;
		font-weight: 500;
	}
	&__title-span {
		color: var(--background-color-2);
		font-family: 'Lexend', sans-serif;
		font-size: 58px;
		font-weight: 500;
	}
	&__description {
		color: var(--Grey-70, #b3b3b3);
		font-family: 'Lexend', sans-serif;
		font-size: 18px;
		font-weight: 300;
	}
	&__img {
		position: absolute;
		top: 50px;
		right: 50px;
		z-index: 0;
	}
}
