.start-financial-journey {
	padding: 75px 0px;
}
.start-financial-journey-wrapper {
	display: flex;
	width: 1596px;
	padding: 80px;
	align-items: center;
	gap: 150px;
	border-radius: 20px;
	border: 1px solid var(--border-color);

	@media screen and (max-width: 1440px) {
		width: 1280px;
		padding: 60px;
	}
	@media screen and (max-width: 390px) {
		width: 358px;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}

	&__text-block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 14px;
		width: 1100px;

		@media screen and (max-width: 1440px) {
			gap: 10px;
		}
		@media screen and (max-width: 390px) {
			gap: 14px;
		}
	}
	&__title,
	&__span {
		color: var(--text-color);
		font-family: 'Lexend', sans-serif;
		font-size: 40px;
		font-weight: 400;
		line-height: 150%;
		@media screen and (max-width: 1440px) {
			font-size: 30px;
		}
		@media screen and (max-width: 390px) {
			text-align: center;

			font-size: 24px;
		}
	}
	&__span {
		color: var(--background-color-2);
	}
	&__text {
		color: var(--text-color-4);
		font-family: 'Lexend', sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 150%; /* 27px */

		@media screen and (max-width: 1440px) {
			font-size: 16px;
		}
		@media screen and (max-width: 390px) {
			text-align: center;

			font-size: 14px;
		}
	}
	&__open-btn {
		padding: 18px 30px;
		color: var(--text-color-2);
		font-family: 'Lexend', sans-serif;
		font-size: 16px;
		font-weight: 400;
		border-radius: 82px;
		background: var(--background-color-2);
		border: none;

		@media screen and (max-width: 1440px) {
			font-size: 14px;
			padding: 14px 20px;
		}
		@media screen and (max-width: 390px) {
			padding: 14px 24px;
		}
	}
}
